@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  line-height: 18px;
}

.first-section {
  background-image: url("./assets/images/login-section-bg.png");
}

.agree-policy:checked ~ .checkmark::after {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

option {
  @apply text-black
}

option:first-child {
  @apply text-gray
}